
.custom-btn {
  display: inline-block;
  font-weight: 700;
  margin-right: 10px;
  padding: 7px 34px;
  background-color: #29467F;
  color: #fff;
  border-radius: 30px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  user-select: none;
}

.custom-btn:hover {
  background-color: #3967c3;
}

.custom-btn:active {
  transform: scale(.95);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, .4);
}

.btn-1 {
  border-radius: 10px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
}

.btn-1:hover {
  background-position: right center;
}

.btn-2 {
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-2:hover {
  color: #f0094a;
  background: transparent;
  box-shadow:none;
}

.btn-3 {
  background: transparent;
  position: relative;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  overflow: hidden;
}

.btn-3:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.btn-3:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
  inset -4px -4px 6px 0 rgba(255,255,255,.5),
  inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}
.btn-3:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
  inset -4px -4px 6px 0 rgba(255,255,255,.5),
  inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.btn-4 {
  background-color: none;
  background: transparent;
  position: relative;
  overflow: hidden;
}
.btn-4:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}

.btn-4:hover {
  background: transparent;
}

.btn-4:hover:after {
  background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(2,126,251,1) 0%,  rgba(0,3,255,1)100%);
  -webkit-transform: scale(1);
  transform: scale(1);
}


