.checkbox{
  display: inline-block;
  margin-bottom: 20px;
}
 
.checkbox input {
  display: none;
}

.checkbox__label {
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  user-select: none
}

.checkbox__label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-color: #29467F;
  background-image: url('../../img/bi_check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0%;
  border-radius: 7px;
  transition: all 200ms ease-in-out;
}

.checkbox input:checked ~ .checkbox__label:before{
  background-color: #f7d00e;
  background-size: 100%;
}