.navbar {
  display: flex;
  flex-flow: column nowrap;
  padding: 30px;
  border-radius: 20px;
  background-color: #29467F;
  position: sticky;
  top: 30px;
}

.navbar_snare {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
  line-height: 25px;
  transition: color 200ms ease-in-out;
}

.navbar_snare:last-child {
  margin-bottom: 0;
}

.navbar_snare:hover {
  color: #009D91;
}